.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  margin-right: auto;
}
.Bmi-logo {
  padding-left: 40vmin;
  height: 20vmin;
  pointer-events: none;
  margin-right: auto;
}
.Bsl-logo {
  padding-left: 5vmin;
  height: 15vmin;
  pointer-events: none;
  margin-right: auto;
}
.Quiz-logo {
  padding-left: 5vmin;
  height: 20vmin;
  pointer-events: none;
  margin-right: auto;
}
.Info-logo {
  padding-left: 5vmin;
  height: 20vmin;
  pointer-events: none;
  margin-right: auto;
}
.Pfp-logo {
  padding-left: 5vmin;
  height: 20vmin;
  pointer-events: none;
  margin-right: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FFFFFF;
  min-height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom-style: solid;
  border-bottom-width: thick;
  border-bottom-color: grey;
}
.Dia-logo {
  padding: 10px;
  flex-direction: row;
}
.Dia-header {
  padding: 20px;
  flex-direction: row;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
